.banner{
	background-image: url(../../images/cuisines.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}
.banner h1{
	font-size: 70px;
}
.banner h2{
	font-size: 40px;
	margin-bottom: 40px ;
}

